div {
    column-count: 1;
    column-gap: 20px;
  }

cd
}

h1 {
    column-span: all;
  }

.container {
border: 1px solid transparent;
}

.row {
border: 3px solid black;
height: 300px;
}

.col {
border: 3px solid red;
}

#margin {
margin-top: 50px;
}

#margin2 {
margin-top: 100px;
}

.btn {
    margin-top: 25px;
    border: none;
    background-color: rgb(247, 8, 215);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
}

.hide {
    display: none;
}